html, body {
  height: 100%;
}

.container {
  display: table;
  margin-top: 0px;
  padding-top: 55px;  /* nav height + 15px */
  width: 100%;
  height: 100%; /* 1 - 40/768 */
}

.container .row {
  display: table-row;
  height: 100%;
  vertical-align: top;
}

.main {
  display: table-cell;
  height: 100%;
}

.sidebar {
  display: table-cell;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.chart {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
}


.chart .title {
  background-color: rgba(252, 252, 252, .85);
  margin-left: 0;
  padding: 0 7px;
}

.chart .title a {
  color: #333;
}

.chart .title a.anomalous {
  color: #c03;
}

.chart .value {
  color: black;
}

.loader {
  text-align: center;
  padding: 2em;
  display: block;
}

.tooltip-inner {
  text-align: left;
  display: block;
  min-width: 160px;
}
