/**
 * Claims
 *
 *   border-color: #ddd
 *   link color: #4183c4
 *
 */


/**
 * body & html & *
 */

*, html {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Helvetica, arial, sans-serif;
}


/**
 * <a/>
 */

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #4183c4;
}


/**
 * dropdown menu
 */

.dropdown-menu-box {
  clear: both;
  position: relative;
}

ul.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 100%;
  list-style: none;
  border: 1px solid #ddd;
  background-color: #fff;
  display: none;
}

ul.dropdown-menu li {
  list-style: none;
  width: auto;
  padding: 6px 4px;
  border-bottom: 1px solid #ddd;
}

ul.dropdown-menu li:hover {
  background-color: #fdfefc;
}

.dropdown-menu li a {
  display: block;
  min-width: 100%;
  line-height: 15px;
  text-decoration: none;
}

ul.dropdown-menu li a:hover {
  text-decoration: none;
}


/**
 * tab navgations
 */

.tabnav {
  font-size: 14px;
  color: #666;
  margin: 1.5em 0 .7em 0;
  border-bottom: 1px solid #ddd;
}

.tabnav ul.tabs {
  display: inline-block;
}

.tabnav ul.tabs>li {
  display: inline-block;
  margin-bottom: -1px;
  padding: 8px 12px 7px;
  line-height: 20px;
}

.tabnav a {
 text-decoration: none;
 color: #666;
}

.tabnav li.active a {
  color: black;
}

.tabnav li.active {
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
}

.tab-others {
  display: inline-block;
  line-height: 20px;
  margin-bottom: -1px;
  padding: 8px 12px 7px;
}

.tab-others a {
  text-decoration: underline;
}

.tab-others a:hover {
  color: black;
  text-decoration: underline;
}

.tab-right {
  float: right;
}


/**
 * tab & dropdown menu
 * hover tab and trigger dropdown
 */
.tab-others:hover ul.dropdown-menu {
  display: block;
}


/**
 * header container footer
 */

.header, .container, .footer {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

.footer {
  color: #777;
  font-size: 13px;
  text-align: center;
  padding: .5em;
}

.container {
  margin-top: .4em;
  padding: 1.3em 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/**
 * logo
 */
.header img {
  margin-top: 1em;
  height: 2em;
}


/**
 * main
 */
.main {
  width: 95%;
  margin: 0 auto;
  position: relative;
}


/**
 * form
 */
form input {
  font-size: 18px;
  width: 99.5%;
  padding: 5px 3px;
  border: 0;
  border-bottom: 1px solid #999;
  outline: 0;
  background: transparent;
}


/**
 * chart
 */
#chart .title {
  margin-left: 0;
  padding: 0 7px;
  background-color: rgba(255, 255, 255, .75);
}



/**
 * .patterns
 */
.patterns {
  margin-top: .5em;
  border-bottom: 1px solid #ddd;
}

.patterns-item {
  display: inline-block;
  line-height: 20px;
  padding: 8px 12px;
}

/* dropdown-menu trigger for quickenter items*/
.patterns-item:hover .dropdown-menu {
  display: block;
}

.patterns-item:hover .patterns-item-key{
  color: #333;
}

.patterns-item-key {
  font-size: 16px;
}

.patterns-item ul.dropdown-menu {
  font-size: 14px;
  width: 200px;
}


/**
 * custom dropdown-menus
 */
.tab-sort-by ul.dropdown-menu {
  width: 150px;
}

.tab-limit ul.dropdown-menu {
  width: 60px;
}

.tabnav span ul.dropdown-menu li a {
  color: #4183c4;
}

/**
 * loader
 */
.loader {
  text-align: center;
  padding: 2em;
  display: block;
}
