html, body {
  height: 100%;
}

.container {
  margin-top: 0px;
  padding-top: 55px;  /* nav height + 15px */
  width: 100%;
  height: 100%; /* 1 - 40/768 */
  max-width: 1440px;
  margin: 0 auto;
}

.container .row {
  height: 100%;
  vertical-align: top;
}

.main {
  height: 100%;
}

.sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.chart-box, .chart-box-top {
  width: 100%;
  overflow-x: scroll;
  border: 0;
}

.chart-box-top {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.chart-box-top-div {
  width: 1080px;
  height: 20px;
}

.chart {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 15px 0;
}

.chart .title {
  background-color: rgba(255, 255, 255, .85);
  margin-left: 0;
  padding: 0 7px;
}

.chart .title a {
  color: #333;
}

.chart .title a.anomalous {
  color: #c03;
}

.chart .value {
  color: black;
}

input[name="pattern"] {
  min-width: 250px;
}

.main-info-each {
  margin-right: 25px;
}

.loader {
  text-align: center;
  padding: 2em;
  display: block;
}

.tooltip-inner {
  text-align: left;
  display: block;
  min-width: 160px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus
{
  background-color: #fff;
}

/* Force chart-box scrollbars to display on mac */
.chart-box-force-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.chart-box-force-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #bbb;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.chart-box-force-scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #aaa;
}

.chart-box-force-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
}
