{%set static_version = "v201409181956"%}
{%set static_params = {'version': static_version}%}

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Bell - Metrics Monitor</title>
  <link rel="shortcut icon" href="{{url('static/img/bell.png')}}">
  <link rel="stylesheet" href="{{url('static/css/cubism.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{url('static/css/style.css', static_params)}}" type="text/css" />
  <script src="{{url('static/js/d3.min.js')}}"></script>
  <script src="{{url('static/js/cubism.v1.min.js')}}"></script>
</head>
<body>

  <div class="header">
    <a href="{{url('/')}}" class="logo">
      <img src="{{url('static/img/logo.png')}}"/>
    </a>
  </div>

  <div class="container">
    <div class="main">

      <form id="form" action="" method="get" accept-charset="utf-8" onsubmit="submitform();return false;">
        <input name='pattern' type="text" placeholder="Pattern.."  autofocus="autofocus">
      </form>

      {%if qcketrs%}
      <div class="qcketrs">
      {%for qcketr_key in Object.keys(qcketrs)%}
        <span class="qcketr-item">
          <a class="qcketr-item-key" href="javascript:void(0)" onclick="return false;">
            {{qcketr_key}}
          </a>
          <div class="dropdown-menu-box">
          {%set qcketr_item = qcketrs[qcketr_key]%}
            <ul class="dropdown-menu">
            {%for qcketr_sub_item_key in Object.keys(qcketr_item)%}
              {%set qcketr_sub_item = qcketr_item[qcketr_sub_item_key]%}
              {%set qcketr_sub_item_params = {
                'sort': qcketr_sub_item[1] || 'm',
                'limit': qcketr_sub_item[2] || 50,
                'type': qcketr_sub_item[3] || 'v'
              }%}
              <li>
                <a href="{{url('/' + qcketr_sub_item[0], qcketr_sub_item_params)}}">
                  {{qcketr_sub_item_key}}
                </a>
              </li>
            {%endfor%}
            </ul>
          </div>
        </span>
      {%endfor%}
      </div>
      {%endif%}

      <div class="tabnav">

        <span class="tab-time-range-upper tab-others">
          {%set past_timestamp = now() / 1000 - timespan2secs(past)%}
          ~ {{secs2str(past_timestamp)}}
        </span>

        <span class="tab-switch tab-right tab-others">
          {%if type === 'v'%}
            <a href="{{switchUrl('type', 'm')}}"> Switch </a>
          {%else%}
            <a href="{{switchUrl('type', 'v')}}"> Switch </a>
          {%endif%}
        </span>

        <span class="tab-limit tab-right tab-others">
          <a href="javscript:void(0);" onclick="return false;"> Top {{limit}}</a>
          <div class="dropdown-menu-box">
            <ul class="dropdown-menu">
              {%set limits = [1, 30, 50, 100, 500, 1000]%}
              {%for lim in limits%}
              <li>
              <a href="{{switchUrl('limit', lim)}}">{{lim}}</a>
              </li>
              {%endfor%}
            </ul>
          </div>
        </span>

        <span class="tab-sort-by tab-right tab-others">
          <a href="javscript:void(0);" onclick="return false;"> Sort By</a>
          <div class="dropdown-menu-box">
            <ul class="dropdown-menu">
              <li>
                <a href="{{switchUrl('sort', 'm')}}">Trending Anomalies</a>
              </li>
              <li>
                <a href="{{switchUrl('sort', 'm')}}">Trending Values</a>
              </li>
            </ul>
          </div>
        </span>

        <ul class="tabs">
          {%set tabs = {
            '0s': 'Now', '3h': '3 hours', '6h': '6 hours', '1d': '1 day', '2d': '2 days', '3d': '3 days', '4d': '4 days'
          }%}
          {%for tab_key in Object.keys(tabs)%}
            <li {%if past === tab_key%}class="active"{%endif%}>
              <a href="{{switchUrl('past', tab_key)}}">{{tabs[tab_key]}}</a>
            </li>
          {%endfor%}
          {%if !tabs.hasOwnProperty(past)%}
            <li class="active">
              <a href="{{switchUrl('past', past)}}">{{past}}</a>
            </li>
          {%endif%}

        </ul>
      </div>

      <div id="chart">
      </div>
    </div>

    <div class="footer">
      Copyright (c) 2014 <a href="https://github.com/eleme">Eleme, Inc</a> |
      <a href="https://github.com/eleme/node-bell">Bell v{{version}}</a>
    </div>

</div>

</body>
</html>
<script src="{{url('static/js/script.js', static_params)}}"></script>
<script>
  {%autoescape false%}
  function submitform() {
    window.location.href = "{{url('/')}}" + document.getElementById('form').pattern.value;
  }

  // required by script.js
  var root = '{{url('/')}}';

  window.onload = function() {
    initBell('{{pattern}}', '{{sort}}', '{{limit}}', '{{type}}', '{{past}}', '{{url('/api')}}');
  }
  {%endautoescape%}
</script>
