{% extends 'layout.html' %}

{% macro switch(dict) %}
  {% set defaults = {lang: 'en', pattern: '*', limit: 50, sort: '↑', past: '0s', type: 'm', stop: 0} %}
  {{ url('/', cleanWith(extend(clone(params), dict), defaults)) }}
{% endmacro %}

{% macro title() %}
{% if params.dashboard %}
{% set groupName = params.dashboard.split(':')[0] %}
{% set dashboardName = params.dashboard.split(':')[1] %}
{% set group = groups[groupName] %}
{% set dashboard = group.dashboards[dashboardName] %}
  {% if group.title %}{{ group.title }}{% else %}{{ groupName }}{% endif %}:
  {% if dashboard.title %}{{ dashboard.title }}{% else %}{{ dashboardName }}{% endif %}
{% else %}
{{ lang('Pattern', '通配符') }}: {{ params.pattern }}
{% endif %}
{% endmacro %}

{% block title %}
{{ lang('Bell Monitor', 'Bell监控') }} - {{ title() }}
{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse">
  <form action="{{ url('/') }}" method="get" accept-charset="utf-8" class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <div class="input-group">
        <input name="pattern" type="text" class="form-control" placeholder="{{ lang('Pattern', '通配符') }}..." class="typeahead">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="Submit">Go</button>
        </span>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block sidebarTitle %}{{ lang('Dashboards', '所有面板') }}{% endblock %}
{% block sidebarContent %}
<ul class="nav nav-pills nav-stacked">
  {% if params.pattern %}
    <li class="active">
    <a href="{{ switch({}) }}">{{ lang('Pattern', '通配符') }}: {{ params.pattern }}</a>
    </li>
  {% endif %}
  {% for groupName, group in groups %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
      aria-expanded="false">
      {% if group.title %} {{ group.title }}
      {% else%} {{ groupName }}
      {% endif %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for dashboardName, dashboard in group.dashboards %}
      <li>
        <a href="{{ switch({dashboard: groupName + ':' + dashboardName }) }}">
          {% if dashboard.title %} {{ dashboard.title }}
          {% else%} {{ dashboardName }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
  </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block mainTitle %}
<a href="{{ switch({}) }}">{{ title() }}</a>
<span class="pull-right">
  {{ lang('date ranging to', '数据时间截至') }}
  <span id="chart-until"></span></a>
</span>
{% endblock %}
{% block mainContent %}
<div class="alert alert-dismissible" id="main-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>
  <span class="main-info-each">{{ lang("Hit metrics count:", "查询命中指标个数:") }}
    <strong id="info-total"></strong></span>
  <span class="main-info-each">{{ lang("Returned metrics count:", "查询返回指标个数:") }}
    <strong id="info-returns"></strong></span>
  <span class="main-info-each">{{ lang("Anomalous metrics count:", "当前异常指标个数:") }}
    <strong id="info-mcount"></strong></span>
  </p>
</div>
{% set tabs = {
  '0s': '当前' if params.lang == 'zh' else  'Now',
  '3h': '距今3小时' if params.lang == 'zh' else '3 hours',
  '6h': '距今6小时' if params.lang == 'zh' else '6 hours',
  '1d': '距今1天' if params.lang == 'zh' else '1 day',
  '2d': '距今2天' if params.lang == 'zh' else '2 day'
} %}
<ul class="nav nav-tabs">
  <!-- past tabs -->
  {% for key, val in tabs %}
  <li {% if params.past == key %}class="active"{% endif %}>
    <a href="{{ switch({past: key}) }}" data-toggle="tooltip" data-placement="top",
      {% if key != '0s' %}title="{{ lang("Shift date to " + val + " ago", "平移时间线到" + val) }}"{% endif %}
      >{{ val }}</a>
  </li>
  {% endfor %}
  {% if not tabs.hasOwnProperty(params.past) %}
  <li class="active">
    <a href="{{ switch({past: params.past})  }}">{{ params.past }}</a>
  </li>
  {% endif %}
  <!-- end past tabs -->

  <!-- tab reset -->
  <li class="dropdown pull-right" data-toggle="tooltip" data-placement="top",
  title="{{ lang("Reset query options (excluding pattern/dashboard)",
  "重置所有除面板和通配符外的查询选项") }}">
    {% if params.dashboard %}
    <a href="{{ url('/', {dashboard: params.dashboard, lang: params.lang}) }}">
    {% else %}
    <a href="{{ url('/', {pattern: params.pattern, lang: params.lang}) }}">
    {% endif %}
      {{ lang('Reset', '重置选项') }} </a>
  </li>

  <!-- tab switch -->
  <li class="dropdown pull-right" data-toggle="tooltip" data-placement="top",
  title="{{ lang("Switch data type between anomalous factor (teal/red color) and real values (green color)",
  "切换数据类型到异常系数(蓝红色指标)或实际数据(绿色指标)") }}">
    <a href="{{ switch({type: 'v' if params.type == 'm' else 'm'})  }}">
      {{ lang('Switch', '切换类型') }} </a>
  </li>
  <!-- end tab switch -->

  <!-- tab stop -->
  <li class="dropdown pull-right" data-toggle="tooltip" data-placement="top",
  title="{{ lang("Enable/Disable data realtime update", "启用或禁用实时数据更新") }}">
    {% if params.stop == 0 %}
    <a href="{{ switch({stop: 1})  }}"> {{ lang('Pause', '禁用更新') }} </a>
    {% else %}
    <a href="{{ switch({stop: 0})  }}"> {{ lang('Realtime', '开启更新') }} </a>
    {% endif %}
  </li>
  <!-- end tab stop -->

  <!-- tab sort -->
  <li class="dropdown pull-right" data-toggle="tooltip" data-placement="top",
  title="{{ lang("Sort by trending", "根据数据的趋势变化快慢排序, '↑'表示按照上升趋势排序，上升快的排在前面") }}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);" aria-expanded="true">
      {{ lang('Sort By', '按趋势排序') }} {{ params.sort }}<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
      <a href="{{ switch({sort: '↑'})  }}">{{ lang('Trending Up', '按上升趋势') }} ↑</a>
      </li>
      <li>
      <a href="{{ switch({sort: '↓'})  }}"> {{ lang('Trending Down', '按下降趋势') }} ↓</a>
      </li>
    </ul>
  </li>
  <!-- end tab sort -->

  <!-- tab limit -->
  <li class="dropdown pull-right" data-toggle="tooltip" data-placement="top",
  title="{{ lang("Only return frist N items", "限制返回数量, 按当前排序规则取前面的指标") }}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);" aria-expanded="true">
      {{ lang('Limit', '限制数量') }} {{ params.limit }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for limit in [1, 30, 50, 100, 500, 1000] %}
      <li>
        <a href="{{ switch({limit: limit})  }}">{{ limit  }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <!-- end tab limit -->
</ul>

<!-- chart -->
<div class="chart-box">
  <div class="chart" id="chart">
    <div class="loader" id="loader">
      <img src="{{ url('static/img/spinner.gif')  }}" />
    </div>
  </div>
</div>
<!-- end chart -->
{% endblock %}

{% block scriptsrc %}
<script src="{{ url('static/js/bootstrap3-typeahead.min.js')  }}"></script>
<script src="{{ url('static/js/script.js')  }}"></script>
{% endblock %}

{% block script %}
// vars required by script.js
var api = '{{ url('/api')  }}'
var root = '{{ url('/')  }}';
var step = {{ configs.interval  }};
{% set options = JSON.stringify(params) %}
window.onload = function() {
  $('[data-toggle="tooltip"]').tooltip()
  initBell({{ options  }})
};
{% endblock %}
