{%extends 'layout.html'%}

{%block main%}
<!-- pattern form -->
<form action="" method="get" accept-charset="utf-8">
  <input name="pattern" type="text" placeholder="Pattern">
</form>
<!-- end pattern form -->

<!-- patterns -->
<div class="patterns">
  {%for key in Object.keys(patterns)%}
  <span class="patterns-item">
    <a class="patterns-item-key" href="javascript:void(0)" onclick="return false;">
      {{key}}
    </a>
    <div class="dropdown-menu-box">
      <ul class="dropdown-menu">
        {%for key_ in Object.keys(patterns[key])%}
        <li>
          <a href="{{url('/', {'pattern': patterns[key][key_]})}}">
            {{key_}}
          </a>
        </li>
        {%endfor%}
      </ul>
    </div>
  </span>
  {%endfor%}
</div>
<!-- end patterns -->

<!-- tabs -->
<div class="tabnav">
  <span class="tab-chart-info tab-others">
    ~ <span id="chart-until"></span>
  </span>

  <!-- tab switch -->
  <span class="tab-switch tab-right tab-others">
  {%if type === 'v'%}
    <a href="{{switch_('type', 'm')}}"> Switch </a>
  {%else%}
    <a href="{{switch_('type', 'v')}}"> Switch </a>
  {%endif%}
  </span>
  <!-- end tab switch -->

  <!-- tab stop -->
  <span class="tab-stop tab-right tab-others">
  {%if stop === 1%}
    <a href="{{switch_('stop', 0)}}"> Realtime </a>
  {%else%}
    <a href="{{switch_('stop', 1)}}"> Stop </a>
  {%endif%}
  </span>
  <!-- end tab stop -->

  <!-- tab limit -->
  <span class="tab-limit tab-right tab-others">
    <a href="javscript:void(0);" onclick="return false;"> Top {{limit}}</a>
    <div class="dropdown-menu-box">
      <ul class="dropdown-menu">
      {%set limits = [1, 30, 50, 100, 500, 1000]%}
      {%for lim in limits%}
        <li>
          <a href="{{switch_('limit', lim)}}">{{lim}}</a>
        </li>
      {%endfor%}
      </ul>
    </div>
  </span>
  <!-- end tab limit -->

  <!-- tab sort -->
  <span class="tab-sort-by tab-right tab-others">
    <a href="javscript:void(0);" onclick="return false;"> Sort By</a>
    <div class="dropdown-menu-box">
      <ul class="dropdown-menu">
        <li>
        <a href="{{switch_('sort', '↑')}}">Trending Up ↑</a>
        </li>
        <li>
        <a href="{{switch_('sort', '↓')}}">Trending Down ↓</a>
        </li>
      </ul>
    </div>
  </span>

  <!-- past tabs -->
  <ul class="tabs">
  {%set tabs = {
    '0s': 'Now', '3h': '3 hours', '6h': '6 hours', '1d': '1 day', '2d': '2 days', '3d': '3 days', '4d': '4 days'
  }%}
  {%for tab_key in Object.keys(tabs)%}
    <li {%if past === tab_key%}class="active"{%endif%}>
      <a href="{{switch_('past', tab_key)}}">{{tabs[tab_key]}}</a>
    </li>
  {%endfor%}
  {%if !tabs.hasOwnProperty(past)%}
    <li class="active">
      <a href="{{switch_('past', past)}}">{{past}}</a>
    </li>
  {%endif%}
  </ul>
  <!-- end past tabs -->
</div>
<!-- end tabs -->

<!-- chart -->
<div id="chart">
  <div class="loader" id="loader">
    <img src="{{url('static/img/spinner.gif')}}" />
  </div>
</div>
<!-- end chart -->
{%endblock%}
